.img-dog {
  border-radius: 10em;
  width: 8em;
  height: 8em;
  border-style: solid;
  border: 1em;
  border-color: black;
}

.cards-paws {
  transition: ease 0.2s;
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border: 3;
  border-style: solid;
  border-radius: 2em;
  background-color: antiquewhite;
  width: 13em;
  height: 18em;
}
.cards-paws-design {
  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3;
  border-style: solid;
  border-radius: 2em;
  background-color: antiquewhite;
  width: 15em;
  height: 20em;
}

.cards-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.page {
  display: flex;
  margin-top: 7em;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sec2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.img-cat {
  border-radius: 10em;
  width: 7em;
  height: 7em;
}
.img-carti {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.cards-paws:hover {
  transition: ease 0.2s;
  opacity: 0.8;
  width: 15em;
  height: 20em;
}

.card {
  width: 50em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card label {
  text-align: center;
}

.formi {
  width: 47em;
  background-color: #f4f4f4;
  box-shadow: 0 0 120px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  border-radius: 5em;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formiNew {
  transition: ease-out 2s;
  width: 65rem;
  border-radius: 5em;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: formiNewChange;
  animation-duration: 4s;
}

.b-but {
  display: flex;
}

.inputs-des {
  transition: 0.5s;
  opacity: 1;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  width: 30em;
  height: 5em;
  border-radius: 3em;
  border: solid;
  border-color: darkgrey;
  text-align: center;
}

.inputs-des:hover {
  transition: 0.5s;
  opacity: 0.6;
}

.inputs-archi {
  transition: 0.5s;
  opacity: 1;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  width: 30em;
  height: 5em;
  border-radius: 3em;
  border: solid;
  border-color: darkgrey;
  text-align: justify;
  display: none;
}

.inputs-archi:hover {
  transition: 0.5s;
  opacity: 0.6;
}
.label-img {
  opacity: 1;
  transition: 0.2s;
  background-image: url("../pictures/foto.jpg");
  background-size: cover;
  width: 5em;
  height: 6em;
  border-radius: 2em;
}
.label-img:hover {
  opacity: 0.7;
}

@keyframes formiNewChange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
