.img-dog {
  border-radius: 10em;
  width: 13em;
  height: 13em;
  border-style: solid;
  border: 50em;
  color: black;
}

.cards-paws {
  transition: ease 0.2s;
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border: 3;
  border-style: solid;
  border-radius: 2em;
  background-color: antiquewhite;
  width: 17em;
  height: 25em;
}
.cards-paws-design {
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3;
  border-style: solid;
  border-radius: 2em;
  background-color: antiquewhite;
  width: 15em;
  height: 20em;
}

.cards-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: row;
}

.sec2 {
  display: flex;
  margin-top: 2.5em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.img-cat {
  border-radius: 10em;
  width: 7em;
  height: 7em;
}
.img-carti {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.cards-paws:hover {
  transition: ease 0.2s;
  opacity: 0.8;
  width: 20em;
  height: 27em;
}

